.single {
    background: #F2EAF5 none repeat scroll 0% 0%;
    width: 45%;
    height: 500px;
    margin: 10px;
    float: left;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    font-size: 16;
    color: #6594AE;
    font-weight: bold;
    font-family: Sans-serif;
    padding-top: 20px;
}
.fixed_container {
    position: fixed;
    width: 10%;
}
.wrapper {
    width: 85%;
    margin: 0 auto;
    display: block;
    z-index: 5;
    padding-right: 10%;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.btn {
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 100%;
    background-position: center center;
    box-shadow: 10px 10px 5px #888888;
}
button {
    height: 87px;
    width: 100%;
    border-radius: 8px;
    border-width: medium;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    //border-color: rgb(222, 99, 99) rgb(136, 136, 192);
    opacity: 0.2;
}
.hvr-border-fade:active,
.hvr-border-fade:focus,
.hvr-border-fade:hover {
    box-shadow: 0px 0px 0px 4px #2098D1 inset, 0px 0px 1px transparent;
}
.hvr-border-fade {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0px);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    box-shadow: 0px 0px 0px 4px #E1E1E1 inset, 0px 0px 1px transparent;
}
#drink-icon {
    background-image: url('drink-1.jpg');
    background-size: cover;
}
#neg-icon {
    background-image: url('ng-1.jpg');
    background-size: cover;
}
#pol-icon {
    background-image: url('pol2-1.jpg');
    background-size: cover;
}
#prt-icon {
    background-image: url('parties-1.jpg');
    background-size: cover;
}
#lang-icon {
    background-image: url('language-1.jpg');
    background-size: cover;
}
.controls2 {
    margin-top: 10px;
    width: 140px
}
.nav_title {
    background-color: #1F599B;
    border-radius: 8px;
    color: white;
    padding: 3px;
    font-size: 14px;
}
