.main-container{
background-color: rgb(242, 241, 246);
width: 90%;
position: absolute;
margin: 190px 100px 100px;
height: 500px;
border-radius: 8px;

}

.member{
background: #E9E6EA none repeat scroll 0% 0%;
width: 18.5%;
height: 97%;
display: inline-block;
border-radius: 8px;
margin-left: 20px;
margin-top:5px;

}
.title{
background-color: #E3E1E9;
width: 90%;
position: absolute;
margin: 95px 100px 100px;
height: 95px;
border-radius: 8px;
border: 20=E96E46;
font-size: 29px;
color: #3636BD;
font-weight: bold;
text-align: center;

}
.title > h2{
padding: 10px;
}


.user {
	display: inline-block;
	width: 180;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 180px;
	margin: 50px;
}

.one {
  background-image: url('sara.png');
}

.two {

  background-image: url('pic2.png');
}

.three {

  background-image: url('pic3.png');
}


.four {

  background-image: url('pic4.png');
}


.five {

  background-image: url('pic5.png');
}
